@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0 0 0 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #e9ecf5;
    --sidebar-color: #ffffff;
    --primary-color: #FBF0B2;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #2c2b2b;
    --box1-color: #FFC7EA;
    --box2-color: #D8B4F8;
    --input-color:#ced9e4;
    --bar-color:#A8D8EA;
    --hovertag-color:rgb(121, 168, 185);
    --bar-hover:#7297a5;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #dddddd;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --input-color:#ccc;
    --bar-color:#6e6f72;
    --bar-hover:#3A3B3C;
    --hovertag-color:#ccc;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #aec3ff;
}
/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}
/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}
.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
body.dark .switch::before{
    left: 20px;
}
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* HOME MID */
.container-home {
    position: relative;
    left: 20px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

.container-home .title{
    display: flex;
    align-items: center;
    margin: 0px 0 15px 0;
}
.container-home .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.container-home .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.container-home .boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.container-home .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
}


.container-home .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity .title{
    margin-top: 20px;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--text-color);
}
@media (max-width: 1000px) {
    .activity .activity-data{
        overflow-X: scroll;
    }

}
@media (max-width: 780px) {
    .container-home .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .container-home .boxes .box{
        width: 100% ;
    }
}


/* Input */
.center {
    display: flex;
}


.container-input {
    width: 45%;
    right: 0;
    top: 0;
    top: 0;
    height: 100vh;
    /* display: relative; */
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-left: 30px;
    /* margin-top: 15px; */

    align-content: flex-end;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #dde2f6 */
    /* background-color: #FAF000; */
    
}
.container-input .data-title{
    font-size: 20px;
    font-weight: 500;
    /* margin-top: 20px; */
    margin-left: 20px;
    color: var(--text-color);
}

.ios13-segmented-control {
    --background: rgba(239,239,240,1);
    background: var(--background);
    border-radius: 9px;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    border: none;
    outline: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ios13-segmented-control .option {
    position: relative;
    cursor: pointer;
}

.ios13-segmented-control .option:hover input:not(:checked) + label span, .ios13-segmented-control .option:active input:not(:checked) + label span, .ios13-segmented-control .option:focus input:not(:checked) + label span {
    opacity: .2;
}

.ios13-segmented-control .option:active input:not(:checked) + label span {
    transform: scale(.95);
}

.ios13-segmented-control .option label {
    position: relative;
    display: block;
    text-align: center;
    padding: 3px 6vmin;
    background: rgba(255,255,255,0);
    font-weight: 500;
    color: rgba(0,0,0,1);
    font-size: 14px;
}

.ios13-segmented-control .option label::before, .ios13-segmented-control .option label::after {
    content: '';
    width: 1px;
    background: rgba(142,142,147,.15);
    position: absolute;
    top: 14%;
    bottom: 14%;
    border-radius: 10px;
    will-change: background;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

.ios13-segmented-control .option label::before {
    left: 0;
    transform: translateX(-.5px);
}

.ios13-segmented-control .option label::after {
    right: 0;
    transform: translateX(.5px);
}

.ios13-segmented-control .option:first-of-type {
    grid-column: 1;
    grid-row: 1;
    box-shadow: none;
}

.ios13-segmented-control .option:first-of-type label::before {
    opacity: 0;
}

.ios13-segmented-control .option:last-of-type label::after {
    opacity: 0;
}

.ios13-segmented-control .option input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    opacity: 0;
}

.ios13-segmented-control .selection {
    background: var(--bar-color);
    border: .5px solid rgba(0,0,0,0.04);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
    border-radius: 7px;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    will-change: transform;
    -webkit-transition: transform .2s ease;
    transition: transform .2s ease;
}


.ios13-segmented-control .option label span {
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    will-change: transform;
}

.ios13-segmented-control .option input:checked+label::before, .ios13-segmented-control .option input:checked+label::after {
    background: var(--background);
    z-index: 1;
}

.ios13-segmented-control .option input:checked+label {
    cursor: default;
}

.input-all-container {
    left: 20%;
    display: flex;
    margin-left: 22%;
    flex-direction: column;
    gap: 25px;
}

.inputdate {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 15px;
}

.inputamount {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;
}

.inputtag{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.inputtext {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;
}
/* input[type="date"]{
    background-color:var(--input-color);
    padding: 5px;
    top: 50%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #303030;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--input-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
} */
input[type=text] {
    border-radius: 5px;
    border: 1px solid #73AD21;
    padding: 3px;
    width: 200px;
}
/* datepicker */

/* [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
} */

input[type=text] {
    border-radius: 5px;
    border: 1px solid #73AD21;
    padding: 3px;
    width: 200px;
}

.container-input .inputdate  {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 10px;
}

#add {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bar-color);
}

#add:hover {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bar-hover);
}

#date {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bar-color);
    margin-left: 15px;
}

#date:hover {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bar-hover);
    margin-left: 15px;
}



#transaction {
    width: 100px;
    height: 40px;
    margin-left: 30%;
    margin-top: 40px;
    border: none;
    border-radius: 6px;
    color: var(--text-color) ;
    background-color:var(--bar-color);
}

#transaction:hover {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: var(--text-color);
    background-color: var(--bar-hover);
}
/*incom expense*/
.container-input .option{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-input .option .option2{

    margin-left: 20px;
}

#pattern input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    color: var(--bar-color);
    background-color: var(--sidebar-color);
    border-radius: 50%;
    transition: all 0.3s;
    /* margin-left: 20px; */
  }
  #pattern input[type="radio"]::before {
    font-family: 'Noto Color Emoji', sans-serif;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    /* margin-left: 20px; */
  }
  #pattern input[type="radio"]:nth-of-type(1)::before {
    content: "💸";
  }
 
  #pattern input[type="radio"]:checked {
    transform: scale(0.5);
  }
  #pattern input[type="radio"]:checked::before {
    opacity: 1;
    transform: scale(2.3);
  }

/* Dropdown  */
.dropdown-el {
    /* margin-top: 20vh; */
    min-width: 12em;
    position: sticky;
    display: inline-block;
    margin-right: 1em;
    min-height: 2em;
    max-height: 2em;
    overflow: hidden;
    top: 0.5em;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: var(--text-color);
    outline: none;
    border: 0.06em solid transparent;
    border-radius: 1em;
    background-color: var(--bar-color);
    transition: 0.3s all ease-in-out;
  }
  .dropdown-el input:focus + label {
    background: #def;
  }
  .dropdown-el input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  .dropdown-el label {
    border-top: 0.06em solid #d9d9d9;
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
  }
  .dropdown-el label:nth-child(2) {
    margin-top: 2em;
    border-top: 0.06em solid #d9d9d9;
  }
  .dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .dropdown-el input:checked + label:nth-child(2) {
    margin-top: 0;
    position: relative;
  }
  .dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid var(--text-color);
    border-color: var(--text-color) transparent transparent transparent;
    transition: 0.4s all ease-in-out;
  }
  .dropdown-el.expanded {
    border: 0.06em solid var( --hovertag-color);
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;
  }
  .dropdown-el.expanded label {
    border-top: 0.06em solid #d9d9d9;
  }
  .dropdown-el.expanded label:hover {
    color: var( --hovertag-color);
  }
  .dropdown-el.expanded input:checked + label {
    color:var( --hovertag-color);
  }
  .dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 0.55em;
  }

  .monthTitle {
    margin-left: 7%;
    font-size: larger;
    font-size: 150%;
}

.titleContainer {
    display: flex;
    width: 80%;
    margin-left: 7%;
    margin-top: 5%;
    justify-content: flex-start;
    gap: 7%;
}

.titleBubble {
    background-color: rgb(255, 255, 255);
    padding: 3%;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.titleBubble p1 {
    font-size: 120%;
}

.titleBubble span {
    font-size: 180%;
    font-weight: 500;
}

.titleBubble i {
    font-size: 170%;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 50%;
}

.activity {
    margin-top: 4%;
    width: 80%;
    margin-left: 7%;
    display: block;
    font-size: 120%;
}

.activityTitle {
    font-size: larger;
    font-size: 150%;
}

.dateTitle {
    background-color: #7297a5;
}

.dateTitle p {
    font-size: 120%;
    margin-left: 1%;
    color: white;
}

.activityIncome {
    border-radius: 5px;
    margin-top: 1%;
}

.activity-container {
    background-color: white;
    border-radius: 5px;

}

.activity-container p{
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
}

.dateUpper {
    margin-top: 5%;
    font-weight: 600;
    color: var(--text-color);
}

.act-header {
    font-size: 100%;
    font-weight: 500;
}

.act-lower {
    font-size: 90%;
}

.activityInfo {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}



.activityLine {
    display: flex;
    justify-content: space-between;
}

.activityLine p{
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.activityHeader {
    display: flex;
    /* background-color: #7297a5; */
    justify-content: space-between;
    
}

.pageHeader {
    font-size: 30px;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;
    color: var(--text-color);
}

.tags{
    font-weight: 300;
}

  